<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список классов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<div class="px-4 py-5 my-5 text-center">
    <div class="table-responsive">

        <td>
            <h3>Форма добавления учеников в классы</h3>
            <table class="table table-striped table-sm" width="">
                <thead>
                <tr>
                    <th scope="col" width="" align="center" style="width:35%">Ученик</th>
                    <th scope="col" width="" align="center" style="width:10%">Класс</th>
                    <th scope="col" width="" align="center" style="width:10%">Год обучения</th>
                    <th scope="col" width="" align="center" style="width:35%">Классный руководитель</th>
                    <th scope="col" width="" align="center" style="width:10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <form action="/grades" method="post">
                        <td>
                            <select class="form-select" name="studentId">
                                <option value="" align="center" selected disabled>Выберите ученика из списка</option>
                                <option align="center"
                                        th:each="st:${studentsList}"
                                        th:value="${st.id}"
                                        th:text="${st.firstName}+' '+${st.middleName}+' '+${st.lastName}+' '+${st.bornYear}">
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" name="mnemocode">
                                <option value="" align="center" selected disabled>Укажите класс</option>
                                <option align="center">1А</option>
                                <option align="center">1Б</option>
                                <option align="center">2А</option>
                                <option align="center">2Б</option>
                                <option align="center">3А</option>
                                <option align="center">3Б</option>
                                <option align="center">4А</option>
                                <option align="center">4Б</option>
                            </select>
                        </td>
                        <td>
                        <input type="number" class="form-control" name="academicYear" placeholder="Введите год">
                        </td>
                        <td>
                            <select class="form-select" name="teacherId">
                                <option value="" align="center" selected disabled>Выберите учителя из списка</option>
                                <option align="center"
                                        th:each="t:${teachersList}"
                                        th:value="${t.id}"
                                        th:text="${t.firstName}+' '+${t.middleName}+' '+${t.lastName}">
                                </option>
                            </select>
                        <td>
                            <button tipe="submit" class="btn btn-sm btn-outline-secondary">Добавить ученика</button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="px-4 py-5 my-5 text-center">
        <div class="table-responsive">

            <h3>Список всех учеников по классам</h3>

            <table class="table table-striped table-sm" width="">
                <thead>
                <tr>
<!--                    <th scope="col" width="" align="center" style="width:25%">Классный руководитель</th>-->
                    <th scope="col" width="" align="center" style="width:35%">Ученик</th>
                    <th scope="col" width="" align="center" style="width:15%">Год рождения ученика</th>
                    <th scope="col" width="" align="center" style="width:15%">Год обучения</th>
                    <th scope="col" width="" align="center" style="width:10%">Код класса</th>
                    <th scope="col" width="" align="center" style="width:15%"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="el : ${gradeTableRow}">
<!--                    <td th:text="${el.teacherName}"/>-->
                    <td th:text="${el.studentName}"/>
                    <td th:text="${el.studentBornYear}"/>
                    <td th:text="${el.gradeAcademicYear}"/>
                    <td th:text="${el.gradeMnemocode}"/>
                    <td>
                        <form th:action="'/grades/'+${el.id}+'/remove'" method="post">
                            <button class="btn btn-sm btn-outline-secondary" tipe="submit">Удалить запись</button>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>