<div th:fragment="header">
    <div class="align-top">
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/">На главную</a>
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/student">Ученики</a>
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/teacher">Учителя</a>
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/grade">Классы</a>
        </nav>
    </div>
</div>

