<div th:fragment="header">
    <div class="align-top">
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/">На главную</a>
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/student/add">Добавить ученика</button>
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/teacher/add">Добавить учителя</button>
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/group/add">Добавить класс</button>
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/groups">Список всех классов</a>
            </nav>
    </div>
</div>